.register-form{
    width: 100%;
    width: 430px;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border-color: #ffffff;
    /* border: none; */
}

.register-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register-heading{
    font-size: xx-large;
    margin-bottom: 20px;
}


.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.4rem;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    color: black;
    font-weight: bold;
    display: block;
    color: white;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    overflow: hidden;
    transition: border-color 0.3s, color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);  
}

  .register-btn:focus {
    outline: none;
  }
  .register-btn > span {
    vertical-align: top;
    svg {
      vertical-align: top;
    }
  }
  .register-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  .register-btn:hover {
    color: black;
    border-color: white;
    cursor: pointer;
  }
  .register-btn:hover::before {
    opacity: 1;
    background-color: white;
    transform: rotate3d(0, 0, 1, 0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

.register-labels {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.register-inputs{
    padding: 0.7rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #37474f;
    color: transparent;
    font-size: 1rem;
    color:#ffffff;
    margin-bottom: 1rem;
}